@tailwind base;
@tailwind components;
@tailwind utilities;



.hero::before{
  content: "";
  background-image: url("../public/Images/Imagebg.png");
  background-position: center;
  background-attachment:local;
  background-size: cover;
  background-repeat: no-repeat;
  height:93%;
  width: 100%;
  border-radius: 25% 25% 48% 52% / 0% 0% 12% 10%;
  position: absolute;
  background-color: rgb(124, 122, 122);
  justify-self: start;
  top:0;
}
.capital{
  text-transform: uppercase;
}
/* .hero button{
  font-size:clamp(1.5rem,7vw,2.5);
} */
